.header {
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center;
}

.nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;/*Animacion fixed*/
}

.imgmenu { /*Menu desplegable*/
    width: 50px;
    margin-top: 10px;
}

.despe-edit {
    width: 72px;
    height: 85px;
}

.logo {
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: 900;
}

.ulMenuNav {
    display: flex;
    align-items: center;
}

.liMenuNav {
    text-decoration: none;
    margin: 10px; /*Seperacion entre elementos Contactanos...*/
}

.textoLogo{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}

.textoNav {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    transition: all 0.5s ease;
}

.textoNav:hover {/*Animacion sinFixed*/
    padding: 5px 10px;
    background: #FFFFFF;
    color: #000000;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.nav.active {/*AnimacionFixed*/
    background: #FFFFFF;
    padding: 20px;
}

.nav.active .textoLogo, .nav.active .textoNav {/*ColorTexto AnimacionFixed*/
    color: #000000;
}

.nav.active .textoNav:hover {
    background-color: #f7f4f4;
    color: #000000;
    border-bottom: 2.5px #ffd700 solid;
}